@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/footer.css");
:root {
    --cor-de-fundo: #E9EB9E;
    --branco: #FFFFFF;
    --principal: #3E5641;
    --secundaria: #eb5160;
    --terciaria: #acc196;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
    --preto: #000000;
    --corextra: #d17a22;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}